body{
    cursor: default;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.main{
    transition: 0.5s;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: black;
    color: chocolate;
}
.timer{
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(146, 240, 216);
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: black;
    color: chocolate;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn_start{
    background-color: green;
}
.btn_stop{
    background-color: red;
}
.btn_reset{
    background-color: gray;
}
.dark{
    background: #000;
    color: #FFF;
}
.light{
    background: #FFF;
    color: #000;
}
.timer{
    color: chocolate;
}
.time_list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    color: chocolate;
    transition: 0.3s;
    font-size: 1.25rem;
}
.time_list:hover{
    text-shadow: 0px 0px 15px chocolate;
    cursor: pointer;
}
.timer:hover{
    box-shadow: 0 0 8px rgb(146, 240, 216);
}
.button_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.action_button{
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    cursor: pointer;
    transition: all 200ms ease;
}
.action_button:hover{
    box-shadow: 0 0 5px white;
    letter-spacing: 5px;
}
.time_item{
    font-family: fantasy;
    letter-spacing: 3px;
    padding: 0.3rem 0;
    cursor: pointer;
    transition: all 300ms ease;
}
.time_item:hover{
    filter: drop-shadow(0 0 5px orange);
}